@import "./color";
* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
.header {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  .navbar {
    display: flex;
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      margin-left: 20px;
    }
    a::after {
      content: "";
      width: 0;
      display: block;
      height: 2px;
      background-color: #4c5baf;
      transition-property: width;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      /* kieu chuyen dong*/
    }
  }
  .logo {
    margin-left: 2rem;
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    display: block;
    span {
      //   position: relative;
      top: 3px;
    }
  }
  ul {
    background: none;
    li {
      color: $c1;
    }
  }
  .container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-toggler {
    background-color: transparent;
    border: none;
    display: none;
    i {
      font-size: 25px;
      color: #ffffff;
    }
  }
}

.carousel {
  width: 100%;
  background-position: center center;
  height: 500px;
  background-size: cover;
  background-image: url("/img/xh1_hero.png.pagespeed.ic.Wpb0SP0e9r.webp");
  .container {
    padding: 50px;
    flex-direction: column;
    display: flex;
    height: 100%;
    color: $c1;
    justify-content: center;
    h1 {
      @include text(3rem, 10, $c1);
    }
	ul.breadcrumb {
		padding: 10px 16px;
		list-style: none;
	  }
	  
	  ul.breadcrumb li {
		display: inline;
		font-size: 1rem;
	  }
	  
	  ul.breadcrumb li+li:before {
		padding: 8px;
		color: $c1;
		content: "|";
	  }
	  
	  ul.breadcrumb li a {
		color: $c1;
		text-decoration: none;
	  }
	  
	  ul.breadcrumb li a:hover {
		color: #01447e;
		text-decoration: underline;
	  }
  }
}

.courses{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	h1{
		text-align: center;
		margin-top: 1rem;
		@include text(1.5rem,20,$c3-1);
	}
  #list-courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
